/*add this file to every html page for same theme.*/
body{
  background: #696969;
  font-family: 'Open Sans', Helvetica, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div{
  position: relative;
  padding: 5px;
  margin: 3px;
}
h1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  font-size: 40px;
}
hr{
  border-top: 2px dashed #0892d0;
}
p{
  font-size: 18px;
}
button{
  width: 100px;
  height: 50px;
  padding: 2px;
  background-color: #696969;
  color: black;
  border: 2px solid #388E8E;
}
a{
  color: black;
}
a:hover{
  color: #0892d0;
}
a:active{
  color: white;
}
pre{
  background: #2f2f2f;
    border: 0.5px solid #eee;
    border-left: 5px solid red;
    color: #eee;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
td,th{
  border: 1px solid #0892d0;
  padding: 8px;
}
tr:hover{
  background-color: #ddd;
}
/*use class="center" to align element in center*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
/*img{
  border: 2px dotted black;
}*/
.wel{
  position: relative;
  top: 100px;
}
.grad{
  background: -webkit-linear-gradient(#D1EEEE, #388E8E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #388E8E;
  color: white;
  text-align: center;
}
